<div class="container my-4">
  <h1>Angular Accordion</h1>
  <h4>Welcome to angular accordion tutorial</h4>
  <br />
  <br />
  <ngid-accordion>
    <ngid-accordion-item [isExpanded]="true" header="Accordion 1">
      <p>Example Accordion 1</p>
    </ngid-accordion-item>
    <ngid-accordion-item header="Accordion 2">
      <p>Example Accordion 2</p>
    </ngid-accordion-item>
    <ngid-accordion-item header="Accordion 3">
      <p>Example Accordion 3</p>
    </ngid-accordion-item>
  </ngid-accordion>
  <br />
  <br />
  <br />
  <br />
  <ngid-accordion>
    <ngid-accordion-item header="Example 1">
      <p>Example 1</p>
    </ngid-accordion-item>
  </ngid-accordion>
</div>
